src/main/xsd/moype.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.moype.ru/exchange"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://www.moype.ru/exchange"
		name="MOYPE"
		targetNamespace="http://www.moype.ru/exchange">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://www.moype.ru/exchange"
				targetNamespace="http://www.moype.ru/exchange"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="Spec">
				<xs:sequence>
					<xs:element name="SpecStr"
							type="tns:SpecStr"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SpecStr">
				<xs:sequence>
					<xs:element name="id"
							type="xs:string"/>
					<xs:element name="parent_id"
							type="xs:string"/>
					<xs:element name="article"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="name"
							type="xs:string"/>
					<xs:element name="quantity"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="demension"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetSpec">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSpecResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:Spec"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetSpecRequestMessage">
		<part name="parameters"
				element="tns:GetSpec"/>
	</message>
	<message name="GetSpecResponseMessage">
		<part name="parameters"
				element="tns:GetSpecResponse"/>
	</message>
	<portType name="MOYPEPortType">
		<operation name="GetSpec">
			<input message="tns:GetSpecRequestMessage"/>
			<output message="tns:GetSpecResponseMessage"/>
		</operation>
	</portType>
	<binding name="MOYPESoapBinding"
			type="tns:MOYPEPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSpec">
			<soapbind:operation style="document"
					soapAction="http://www.moype.ru/exchange#MOYPE:GetSpec"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="MOYPESoap12Binding"
			type="tns:MOYPEPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSpec">
			<soap12bind:operation style="document"
					soapAction="http://www.moype.ru/exchange#MOYPE:GetSpec"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MOYPE">
		<port name="MOYPESoap"
				binding="tns:MOYPESoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://192.168.31.242/erp/ws/moype.1cws"/>
		</port>
		<port name="MOYPESoap12"
				binding="tns:MOYPESoap12Binding">
			<soap12bind:address location="http://192.168.31.242/erp/ws/moype.1cws"/>
		</port>
	</service>
</definitions>